<% provide(:title, "About") %>

<h1>About</h1>

<p>
	<center>
	This application uses DocRaptor to retrieve a URL and format it to a PDF, then read the PDF using pdf-reader to extract metadata.
	</center>
</p>