<div class="center jumbotron">
  <h1>Welcome to the Minotaur's Hoof</h1>

	<h2>
	    The home page for the
	    <a href="https://github.com/blueMesaEngineering/Minotaur-hoof">Minotaur's Hoof</a>
	    Application.
	</h2>

	This application uses DocRaptor to retrieve a URL and format it to a PDF, then read the PDF using pdf-reader to extract metadata.

	<p>
	    <%= link_to "Try it!", '/new_model', class: "btn btn-lg btn-primary" %>
	</p>
</div>

<%= link_to image_tag("engineer.png", alt: "Engineer is credit to team!"),
            'http://rubyonrails.org/' %>
