<% provide(:title, "Serialized JSON") %>

<h1>Serialized JSON</h1>
<center>
<p>
	<textarea cols = '100' rows = '14'><%= @json_string %></textarea>
</p>

<p>
	<%= link_to 'Back', url_data_models_path %>
</p>
</center>