<% provide(:title, "New Address") %>

<h1>New Address</h1>

<center>
	<%= form_with scope: :url_address, url: url_addresses_path, local: true do |form| %>
		<p>
			<%= form.label :address %>
			<%= form.text_field :address %>
		</p>

		<p>
			<%= form.submit %>
		</p>
	<% end %>
</center>
