<h1>URL Data Models</h1>
<p>
	<center>
		<table>
			<% @url_data_models.each do |url_data_model|  %>
				<tr>
					<td>URL: <%= url_data_model.address %></td>
				</tr>
			<% end %>
		</table>
	</center>
</p>
