<footer class="footer">
  <small>
    The <a target = "blank" href="https://github.com/blueMesaEngineering/Minotaur-hoof">Minotaur's hoof</a>
  </small>
  <nav>
    <ul>
      
      <li><a target = "blank" href="https://guides.rubyonrails.org//">Rails Guides</a></li>      
      <li><a target = "blank" href="http://www.railstutorial.org/">Rails Tutorial</a></li>
      <li><a target = "blank" href="http://www.docraptor.com/">News</a></li>
    </ul>
  </nav>
</footer>