<footer class="footer">
  <small>
    The <a href="https://github.com/blueMesaEngineering/Minotaur-hoof">Minotaur's hoof</a>
  </small>
  <nav>
    <ul>
      
      <li><a href="http://www.docraptor.com/">News</a></li>
    </ul>
  </nav>
</footer>